{% extends "base.html" %}

{% block head %}
<title> {{ a.title }}</title>
{% endblock %}

{% block body %}
<div class="article">
    <div class="title">
        {{ article.title }}
    </div>

    <div class="photo">
        <img src="{{ article.photo }}" alt="">
    </div>

    <div class="text">
        {{ article.text }}
    </div>

    <div class="comments">
        <br>
        <br>
        {% for comment in comments %}
            <div class="author">
                {{ comment.author }}
            </div>
            
            <div class="body">
                {{ comment.body }}
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}