<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>
<body>
    <header>
        <nav>
            <a href="/admin">admin</a>
        </nav>
    </header>
    {% for a in articles %}
        <div class="photo">
            {% load static %}
            <img src="{{ a.photo }}" alt="">
        </div>

        <div class="title">
            {{ a.title }}
        </div>
        
        <div class="text_preview">
            {{ a.text }} >>> <a href="{% url 'article' article_id=a.id %}">link</a>
        </div>
        <br>
    {% endfor %}
        
</body>
</html>